div.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 200px;
    max-width: 400px;
}

.logo-img {
    height: 70%;
    width: 70%;
    display: block;
}

.app-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h4 {
    display: flex;
    align-items: center;
}

.forms {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    min-width: 400px;
    max-width: 600px;
    min-height: 100px;
}

.center-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    align-self: center;
}

@media (max-width: 850px) {
    div.flex-container {
        flex-direction: column;
    }
    .container-left {
        align-items: center;
        text-align: center;
    }
    .logo-img {
        width: 30%;
        height: 30%;
    }
    p {
        text-align: center;
    }
    .forms {
        margin-top: 2rem;
        align-items: center;
        text-align: center;
    }
    form {
        min-height: none;
    }
}