h1 {
    display: flex;
    justify-content: center;

}

table {
    width: 100%;
    table-layout: fixed;
    border: 2px solid;
}

th {
    border: 2px solid grey;
}

.options {
    border: none;
}

/* button {
    font-size: small !important;
} */

td {
    color: #191919;
    border: 2px solid grey;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background: #EEEEEE;
}
