body {
    margin-top: 0;
}

nav.flex-container {
    display: flex
}

.navbar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 10rem;
    width: 10rem;
    overflow: hidden;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #57679E);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #6F7BEC);
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 4rem;
}

@media (max-width: 850px) {
    nav.flex-container {
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .user-info {
        margin: auto;
    }
}