@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --shadow: #57679E;
  --blue: #6F7BEC;
  --grey: #EEEEEE;
  --wine: #693A42;
  --black: #070707;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
    font-size: small !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Aldrich';
}

h1 {
  font-size: 2.5em;
}

body {
  margin: 0;
  font-family: 'Aldrich';
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  padding: 2vmin;
  height: 100vh;
}



.form-container {
  padding: 3vmin;
  background-color: var(--grey);
  border: .1vmin solid var(--grey);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--blue);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--grey);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important;
  /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--grey);
}

button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--blue) !important;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--blue);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

/* button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
} */

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--shadow);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}